.scrollSectionOuter {
  overflow: hidden;
}

.scrollSectionInner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scrollOne {
  background-image: url("/images/119.jpg");
  background-size: cover;
  font-size: 10vw;
}

.scrollSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgone {
  background-color: #6d597a;
}
.bgtwo {
  background-color: #355070;
}
.bgthree {
  background-color: #9a8c98;
}
