.profile2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.largeText {
  font-size: 100px;
}

.coloredText {
  color: rgb(0, 128, 128);
}

.profile {
  height: 40vh;
  display: grid;
  place-items: center;
  padding-top: 10vh;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end; // Align text to the right
  justify-content: center; // Center content vertically
  height: 100%;
}

.textBlock {
  font-size: 10vw;
  text-align: right; // Align text to the right
  line-height: 1;
}

.textBlock1 {
  grid-area: 1 / 1; // Positioning in the grid
}

.textBlock2 {
  grid-area: 2 / 1;
}

.textBlock3 {
  grid-area: 3 / 1;
}
