.profile {
  height: 100vh; /* Make the profile component take up full viewport height */
  background-color: black; /* Add background color or any styling you desire */
  display: flex;
  justify-content: center;
  align-items: center;
}
